<ngx-form-builder [schema]="schema" (schemaParsed)="registrationForm = $event">
        <ng-template #TextEl let-name="name" let-formControl="formControl">
            <ng-container [ngSwitch]="name">
                <input *ngSwitchCase="'username'" type="text" [formControl]="formControl" placeholder="Enter value">
                <mat-form-field *ngSwitchCase="'password'">
                    <mat-label>Password</mat-label>
                    <input matInput type="password">
                </mat-form-field>
            </ng-container>
        </ng-template>
</ngx-form-builder>